<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Article</title>

  </head>

  <body>

    <header>
      <h1>Evaluate a News Article</h1>
    </header>

    <main>

      <form id="form">
        <label for="name">Enter URL:</label>
        <input id="name" type="text" name="input" required>
        <button type="submit">Submit</button>
      </form>

      <div id="results"></div>

    </main>

    <footer>
      <p>Powered by Sebastian</p>
    </footer>

  </body>

</html>