@import './varaiables.scss';

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: $padding-medium;
  background: $text-color;
  border-radius: 5px;
  box-shadow: $box-shadow;

  label {
    margin-bottom: $padding-small;
    color: $primary-color;
    font-weight: bold;
  }

  input {
    margin-bottom: $padding-medium;
    padding: $padding-small;
    border: 1px solid $border-color;
    border-radius: $border-radius;
  }

  button {
    padding: 0.7em;
    color: $text-color;
    background-color: $primary-color;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      background-color: $secondary-color;
    }
  }
}